
<div class="container">
    <div class="desk-mode-image">
        <img src="assets/icons/_Layer_.svg" alt="layer">
    </div>
    <div class="body2">
        <app-body></app-body>
    <div class="frame-link" >
        <a href="https://example.com">{{ hebData['termsOfTheLoan'] }}</a>
    </div>
    <div class="frame-footer">
        <div class="footer">
            <button class="continue-btn" [disabled]="client === '1'">{{ hebData['continue'] }}</button>
            <button class="return-btn" [disabled]="client === '1'">{{ hebData['return'] }}</button>
        </div>
    </div>
    </div>
</div>