@import '@fontsource/heebo';

//fonts
$font-heebo: 'Heebo';
$font-assistant: 'Assistant';

//labels
$size-x-label-default: 14px;
$size-x-label-medium: 20px;

//screens size
$desktop-screen: 1440px;
$tablet-screen-min: 768px;
$tablet-screen-max: 1439px;
$mobile-screen: 767px;


$padding-horizontal: 40px;
$padding-vertical: 0px;
