:root[data-client="2"] {
    --primary-color-var: #39B54A;
    --primary-font-var: 'Heebo';
    --primary-bg-color-var: #FFFFFF;
    --primary-font-weight-var: 500;
    --primary-border-var: 1px solid #A6A6A6;
    --primary-border-radius-var: 10px;
    --primary-button-border: 1px solid #39B54A;
    --primary-button-border-radius: 10px;
    --primary-caption-color: #4E4E4E;
    --primary-caption-size: 14px;
    --primary-label-font-size: 18px;
    --primary-label-font-weight: 500;
    --primary-summary-label-font-weight: 400;
}

$primary-color: var(--primary-color-var);
$primary-bg-color: var(--primary-bg-color-var);
$primary-font: var(--primary-font-var);
$primary-border: var(--primary-border-var);
$primary-font-weight: var(--primary-font-weight-var);
$primary-border-radius: var(--primary-border-radius-var);
$primary-button-border: var(--primary-button-border);
$primary-button-border-radius: var(--primary-button-border-radius);
$primary-caption-color: var(--primary-caption-color);
$primary-caption-size: var(--primary-caption-size);
$primary-label-font-size: var(--primary-label-font-size);
$primary-label-font-weight: var(--primary-label-font-weight);
$primary-summary-label-font-weight: var(--primary-summary-label-font-weight);
