@import '@fontsource/heebo';

$box-shadow-color: #6767671A;
$desk-mode-background: #F5F5F5;
$white-color: #FFFFFF;
$black-color: #000000;

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif;
}

:root {
    --primary-color-var: #0082AB;
    --primary-font-var: 'Heebo';
    --primary-font-weight-var: '400';
    --primary-border-var: '1px solid #DEDEDE';
    --primary-bg-color-var: #FFFFFF;
    --primary-border-radius-var : 4px;
}

:root {
    --primary-color-var: #0082AB;
    --primary-font-var: 'Heebo';
    --primary-font-weight-var: '400';
    --primary-border-var: '1px solid #DEDEDE';
    --primary-bg-color-var: #FFFFFF;
    --primary-border-radius-var: 4px;
    --primary-button-border: 1px solid #8EBBCF;
    --primary-button-border-radius: 4px;
    --primary-caption-color: #7E7B7B;
    --primary-caption-size: 12px;
    --primary-label-font-size: 14px;
    --primary-label-font-weight: 500;
    --primary-summary-label-font-weight: 400;

}

:root[data-client="1"] {
    --primary-color-var: #0082AB;
    --primary-font-var: 'Heebo';
    --primary-bg-color-var: #FFFFFF;
    --primary-font-weight-var: 500;
    --primary-border-var: 1px solid #DEDEDE;
    --primary-border-radius-var: 4px;
    --primary-button-border: 1px solid #8EBBCF;
    --primary-button-border-radius: 4px;
    --primary-caption-color: #7E7B7B;
    --primary-caption-size: 12px;
    --primary-label-font-size: 14px;
    --primary-label-font-weight: 500;
    --primary-summary-label-font-weight: 400;
}

:root[data-client="2"] {
    --primary-color-var: #39B54A;
    --primary-font-var: 'Heebo';
    --primary-bg-color-var: #FFFFFF;
    --primary-font-weight-var: 500;
    --primary-border-var: 1px solid #A6A6A6;
    --primary-border-radius-var: 10px;
    --primary-button-border: 1px solid #39B54A;
    --primary-button-border-radius: 10px;
    --primary-caption-color: #4E4E4E;
    --primary-caption-size: 14px;
    --primary-label-font-size: 18px;
    --primary-label-font-weight: 500;
    --primary-summary-label-font-weight: 400;
}

:root[data-client="3"] {
    --primary-color-var: #7B098B;
    --primary-font-var: 'Assistant';
    --primary-bg-color-var: #F6F6F6;
    --primary-font-weight-var: 400;
    --primary-border-var: 1px solid #A6A6A6;
    --primary-border-radius-var: 10px;
    --primary-button-border: 1px solid #7B098B;
    --primary-button-border-radius: 30px;
    --primary-caption-color: #310538;
    --primary-caption-size: 13px;
    --primary-label-font-size: 16px;
    --primary-label-font-weight: 600;
    --primary-summary-label-font-weight: 600;
    ;
}

$primary-color: var(--primary-color-var);
$primary-bg-color: var(--primary-bg-color-var);
$primary-font: var(--primary-font-var);
$primary-border: var(--primary-border-var);
$primary-font-weight: var(--primary-font-weight-var);
$primary-border-radius: var(--primary-border-radius-var);
$primary-button-border: var(--primary-button-border);
$primary-button-border-radius: var(--primary-button-border-radius);
$primary-caption-color: var(--primary-caption-color);
$primary-caption-size: var(--primary-caption-size);
$primary-label-font-size: var(--primary-label-font-size);
$primary-label-font-weight: var(--primary-label-font-weight);
$primary-summary-label-font-weight: var(--primary-summary-label-font-weight);
