$white-color: #FFFFFF;
$black-color: #000000;
$box-shadow-color: #6767671A;
$border-input-color: #DEDEDE;

//client1
$button-color-client1: #8EBBCF;
$main-color-client1: #0082AB;

//client2
$main-color-client2: #39B54A;

//client3
$main-color-client3: #7B098B;
$background-color-client3: #F6F6F6;
